
<h2 class="mb-4" id="description">Description</h2>

<p class="darkWhite">{{ game[0].description }}</p>

<p class="subtitle">A propos du jeu</p>

<p class="darkWhite mb-5">{{ game[0].description }} {{ game[0].description }}</p>