

    <a href="#" class="myCategoryCard mb-5 d-flex align-items-center">
        <h2 class="ms-3">{{ category.name }}</h2>
        <img src="{{ asset('build/images/category_icone.webp') }}" alt="image sur la catégorie">
    </a>
