<h2 class="mb-4">Configurations</h2>
<div class="configuration d-flex justify-content-between align-items-center mb-5">
    <div>
        <div class="minConfig">
            <p>minimale</p>
            <table>
                <tr>
                    <th>OS:</th>
                    <td>Windows 10 （64-bit)</td>
                </tr>
                <tr>
                    <th>Processor:</th>
                    <td>Intel Core i3-4130 or Core i5-3470 or AMD FX-6100</td>
                </tr>
                <tr>
                    <th>Memory:</th>
                    <td>8 GB RAM</td>
                </tr>
                <tr>
                    <th>Graphics:</th>
                    <td>NVIDIA GeForce GT 1030 (DDR4) or AMD Radeon RX 550</td>
                </tr>
                <tr>
                    <th>DirectX:</th>
                    <td>Version 12</td>
                </tr>
                <tr>
                    <th>Network:</th>
                    <td>Broadband Internet connection</td>
                </tr>
                <tr>
                    <th>Storage:</th>
                    <td>36 GB available space</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="recomandedCondig">
            <p>recommandée</p>
            <table>
                <tr>
                    <th>OS:</th>
                    <td>Windows 10 （64-bit)</td>
                </tr>
                <tr>
                    <th>Processor:</th>
                    <td>Intel Core i5-4460 or AMD FX-8300</td>
                </tr>
                <tr>
                    <th>Memory:</th>
                    <td>8 GB RAM</td>
                </tr>
                <tr>
                    <th>Graphics:</th>
                    <td>NVIDIA GeForce GTX 1060 (VRAM 3GB) or AMD Radeon RX 570 (VRAM 4GB)</td>
                </tr>
                <tr>
                    <th>DirectX:</th>
                    <td>Version 12</td>
                </tr>
                <tr>
                    <th>Network:</th>
                    <td>Broadband Internet connection</td>
                </tr>
                <tr>
                    <th>Storage:</th>
                    <td>36 GB available space</td>
                </tr>
            </table>
        </div>
    </div>
</div>