body{
  background-color: #272727;
  color: #fff;
}

a{
  color: white;
  text-decoration: none;

  &:hover{
    color: inherit;
  }

}

.mybtn{
  background-color: #ff5400;
  color: #fff;
  border: none;
  padding: .7rem 1.3rem;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: .2s ease-in-out;
  text-align: center;
  width: fit-content;
  &:hover{
    background-color: #fff;
    color: #ff5400;
  }
}